@use '../../../../assets/shared/style/mixin' as *;


.card {
  border-radius: 10px 10px 0px 0px;
  border: 0;
  box-shadow: var(--box-shadow);

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-title {
      @include headLine4;
      margin-bottom: 0;
    }

    .desc {
      @include headLine2;
      opacity: 0.7;
      margin-bottom: 0;
      text-decoration: line-through;
    }

    .salary {
      @include headLine5;
      font-weight: 700;
      margin-bottom: 0;
    }
  }

  .btn-add-card {
    @include headLine3;
    background-color: var(--color-primary);

    img {
      padding-inline-end: 10px;
    }
  }

  .btn-favorite {
    i {
      color: var(--bg-gray);
      font-size: 22px;
      padding-inline-start: 10px;
      padding-block-start: 4px;
    }
  }

  .status {
    top: 15px;
    right: 15px;

    .label {
      @include bodyText1;
      padding: 5px 10px;
      border-radius: 16px;

      &.new {
        background-color: var(--color-primary-accent);
      }

      &.show {
        background-color: var(--color-secondary);
      }
    }
  }
}
