<swiper [config]="config" [navigation]="true" class="mySwiper my-4">
  <ng-template swiperSlide>
    <div style="background-image:url(assets/img/Image\ 22@2x.png) ;">
      &nbsp;
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div style="background-image:url(assets/img/confirmed-delivery.jpg) ;">
      &nbsp;

    </div>

  </ng-template>
  <ng-template swiperSlide>
    <div style="background-image:url(assets/img/sell-first.jpg) ;">
      &nbsp;

    </div>

  </ng-template>
</swiper>
